{% extends 'base.html'%}

{% block body %}


<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
<link href="bootstrap.min.css" type="text/css">


<body>

<nav id=navbar class="navbar navbar-light bg-success fixed-top">
  <span class="navbar-brand mb-0 h1 btn-font-base text-white">HONOexcange</span>
</nav>

<div class="container bg-light col-8">

<br>
<br>
<br>

<h3>これでお時間を頂戴できる！</h3>

<hr>

<span id="span">
   <p>{{the_yourname}}教授</p>

   <p>いつも講義ではお世話になっております。<br>
   学籍番号{{the_department}}の{{the_myname}}です。</p>

   <p>先日の講義の中で理解できない箇所があり、<br>
   お手すきの際にご相談のお時間を頂きたく、ご連絡致しました。</p>

   <p>ご多忙のところ大変恐縮ではございますが、<br>
   来週の月曜日から金曜日の中で、ご都合のよろしいお日にちに<br>
   １時間程、講義のお時間をいただけませんでしょうか。</p>

   <p>大変心苦しいのですが、今週中にお返事をいただければ幸いです。</p>

   何卒宜しくお願い申し上げます。<br>
 </span>

 <hr>

 <button type="button" class="btn btn-outline-success" onclick="copy()">コピー</button>

 <script>
 function copy(){
   //範囲を指定
   let range = document.createRange();
   let span = document.getElementById('span');
   range.selectNodeContents(span);

   //指定した範囲を選択状態にする
   let selection = document.getSelection();
   selection.removeAllRanges();
   selection.addRange(range);

   //コピー
   document.execCommand('copy');
   //alert('コピーしました');
 }
 </script>

 <br>
 <br>
 <br>

 </div>


 <footer class="bg-success fixed-bottom">
   <p class="text-white">
     made by Doradora, Min, Horusho, Leo
   </p>
 </footer>

 </body>




{% endblock %}
